
.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-fill: linear-gradient(#FFA500, #FF4500);
    -fx-font-family: "Arial";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.table-view .table-row-cell {
    -fx-background-color: transparent;
}

.table-view .table-row-cell:odd {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.table-view .table-row-cell:selected {
    -fx-background-color: linear-gradient(#FFA500, #FF4500);
}

.table-view .table-cell {
    -fx-text-fill: linear-gradient(#FFA500, #FF4500);
    -fx-font-family: "Arial";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.button {
//-fx-background-color: linear-gradient(#FFA500, #FF4500);
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-text-fill: linear-gradient(#FFA500, #FF4500);
    -fx-font-family: "Arial";
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: linear-gradient(#FF4500, #FFA500);
}

.label {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-text-fill: linear-gradient(#FFA500, #FF4500);
    -fx-font-family: "Arial";
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.stack-pane {
    -fx-background-color: transparent;
}

.text-field {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-text-fill: linear-gradient(#FFA500, #FF4500);
    -fx-prompt-text-fill: linear-gradient(#FFA500, #FF4500);
    -fx-font-family: "Arial";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-border-color: linear-gradient(#FFA500, #FF4500);
    -fx-border-width: 2px;
    -fx-border-radius: 10;
}

.text-field:hover {
    -fx-border-color: linear-gradient(#FF4500, #FFA500);
}